nav {
    background-color: #fff;
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius:0px,
}
nav a{
    color: #ab3550 !important;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
nav img {
max-width: 100%;
height: 100%;
}
nav #lastnav {
    border: 1px solid #ab3550;
    background-color: #ab3550;
    box-sizing: border-box;
    color: #fff !important;
}
nav #lastnav :hover {
    background-color: transparent;
    color:#ab3550 !important;
    transition: 0.2 ease-in-out
}